.greeting-component {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.greeting-component #name-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  caret-color: white;
  font-size: 2rem;
}

.greeting-component #name-input:focus {
  outline-width: 0;
}
